body {
    margin: revert;
}

input[type="number"] {
    width: 4em;
}

.icon {
    width: 1em;
    height: 1em;
    mask-size: cover;
    background-color: #fff;
}

#controls {
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
}

#gm-only .icon {
    mask-image: url(/images/gm-only.svg)
}

.counter {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.show-settings .icon {
    mask-image: url(/images/show-settings.svg)
}

.show-number .icon {
    mask-image: url(/images/number.svg)
}

.hide .icon {
    mask-image: url(/images/hide.svg)
}

.show-bar .icon {
    mask-image: url(/images/bar.svg)
}

.selected .icon {
    background-color: rgb(187, 153, 255);
}
