body {
    margin: revert;
}

input[type="number"] {
    width: 4em;
}

.icon {
    width: 1em;
    height: 1em;
    mask-size: cover;
    background-color: #fff;
}

.show-number .icon {
    mask-image: url(/images/number.svg)
}

.hide .icon {
    mask-image: url(/images/hide.svg)
}

#gm-only .icon {
    mask-image: url(/images/gm-only.svg)
}

.selected .icon {
    background-color: rgb(187, 153, 255);
}
